body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer {
    /* margin-top: 280px; */
    border: 1px solid black;
    width: 350px;
    border-top: 0px;
}


.main-area h1 {
    font-size: 20px;
    margin-left: 40px;
}

.main-area img {
    margin-top: 10px;
    margin-left: 60px;
    width: 200px;
}

.main-area {
    border: 1px solid black;
    width: 350px;
    border-bottom: 0px;
}

.actions {
    margin-left: 6em;
}

input {
    width: 18em;
    margin-left: 3em;
    border-radius: 5px;
    size: 10px;
}